<template name="mainNavigationTopItemTranscriptsItemPersonal">
    {{#if gotTranscriptsEnabled}}
        {{#unless isSmartPhoneAndOwnsNoCards}}
            {{#if canCreateContent}}
                <li id="navbar-transcripts-personal"
                    class="{{#if isMyTranscriptsRoute}}active{{/if}}">
                    <a href="{{pathFor route='transcriptsPersonal'}}">
                        {{{getNavigationName "transcriptsPersonal"}}}
                    </a>
                </li>
            {{/if}}
        {{/unless}}
    {{/if}}
</template>
