<template name="mainNavigationTopItemSearch">
    {{#if isFilterIndexRoute}}
        <li class="hidden-xs">
            {{> mainNavigationTopItemSearchDropdown}}
        </li>
    {{/if}}
</template>

<template name="mainNavigationTopItemSearchMobile">
    {{#if isFilterIndexRoute}}
        <li class="visible-xs">
            {{> mainNavigationTopItemSearchDropdown}}
        </li>
    {{/if}}
</template>

<template name="mainNavigationTopItemSearchInput">
    <div class="search input-append" role="search">
        <div class="form-group">
            <input class="form-control typeahead input-search cards-search-element"
                   name="search"
                   type="text"
                   autocomplete="off" spellcheck="off" data-source="search"
                   data-template="search"
                   placeholder="{{getPlaceholder}}">
        </div>
        {{#if searchActive}}
            <div class="clearSearch cards-search-element">
                <span class="flex-content">
                    <i class="far fa-times-circle cards-search-element"></i>
                </span>
            </div>
        {{/if}}
    </div>
</template>

<template name="mainNavigationTopItemSearchDropdown">
    <div class="search-dropdown-container cards-search-element">
        <button type="button" title="{{_ "navbar-collapse.tooltip.search"}}" class="btn cards-search-element toggle-search-dropdown top-navigation-call-to-action-button">
            <i class="fas fa-search cards-search-element"></i>
        </button>
        <div class="dropdown-menu navbar-cards-search-dropdown" role="menu" aria-labelledby="toggle-search-dropdown">
            <ul class="nav navbar-nav navbar-left navbar">
                <li>
                    {{> mainNavigationTopItemSearchInput}}
                </li>
            </ul>
        </div>
    </div>
</template>
