<template name="cardsetNavigation">
    <div class="cardsetInfoFooter panel-footer">
        {{#if hasCardsetPermission}}
            {{> cardsetNavigationPresentation}}
            {{#unless isCardsetStudentPreviewActive}}
                {{> cardsetNavigationNewCard}}
            {{/unless}}
            {{#if isInBonus}}
                {{> cardsetNavigationLearning}}
            {{else}}
                {{#if currentUser}}
                    {{> cardsetNavigationWorkload}}
                {{/if}}
            {{/if}}
            {{#unless isCardsetStudentPreviewActive}}
                {{> cardsetNavigationEditRepetitorium}}
                {{> cardsetNavigationBonus}}
                {{> cardsetNavigationTranscripts}}
                {{> cardsetNavigationEditCardset}}
                {{> cardsetNavigationEditLicense}}
                {{> cardsetNavigationPublishCardset}}
                {{> cardsetNavigationImport}}
                {{> cardsetNavigationExport}}
                {{> cardsetNavigationDeleteAllCards}}
            {{/unless}}
        {{else}}
            {{> cardsetNavigationPresentation}}
        {{/if}}
    </div>
</template>
