<template name="cardSidebarItemEndPresentation">
        <span class="fas fa-sign-out-alt card-button cardHeaderItem endPresentation pressed"
              data-type="cardNavigation"
              title="{{_ "card.tooltip.endPresentation"}}"></span>
</template>
