<template name="filterIndexItemTopWorkload">
    <div class="resultItemHeader resultItemHeaderWorkload {{this.gridSize}} collapseButton {{getCardsetBackground
            this.difficulty this.cardType}}">
        {{#if gotWorkload}}
            <a class="{{getWorkloadType}}" data-toggle="{{#if gotWorkloadForBothTypes}}modal{{/if}}"
               data-target="{{#if gotWorkloadForBothTypes}}#selectModeToLearnModal{{/if}}"
               data-id="{{this._id}}">
                {{{getWorkload}}}
            </a>
        {{else}}
            {{_ "set-list.noCardsToLearn"}}
        {{/if}}
    </div>
</template>
