<template name="cardsetNavigationLearning">
    {{#if notEmpty}}
        <button id="learnBoxActive"
                class="btn btn-sm btn-raised btn-success learn btn-learn"><span class="flex-content"><i class="fas fa-graduation-cap"></i>&nbsp;{{_
                "cardsToLearn"}}</span></button>
    {{/if}}
</template>

