<template name="filterItemSelectRepetitoriumButton">
                    <span class="btn-group">
    <a id="browseShuffledCardset" class="btn btn-raised btn-success"><span class="flex-content">{{{getCardsetIcons true}}}{{_
            "set-list-learn-empty.browseCourse"}}</span></a>
                    </span>
</template>
