<template name="bonusInfoBox">
    <div id="collapseLearningPhaseInfoButton" class="col-xs-12 card card-block collapseButton {{#if isBonusFinished this.learningActive this.learningEnd}}finished{{/if}}">
        <strong>{{_ "set-list.learnphaseInfo"}}</strong>
        <i id="collapseLearningPhaseInfoIcon" class="far fa-caret-square-down pull-right"></i>
    </div>
    <div class="collapse" id="collapseLearningPhaseInfo">
        <div class="card card-block">
            <table class="table table-condensed table-striped table-hover infoBoxTable">
                <tbody>
                    {{> bonusInfoBoxContent}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="bonusInfoBoxContent">
    {{> cardsetInfoBoxItemBonusStatus}}
    {{> cardsetInfoBoxItemBonusMaxPoints}}
    {{> cardsetInfoBoxItemBonusMinLearned}}
    {{> cardsetInfoBoxItemBonusPointsFAQ}}
    {{> cardsetInfoBoxItemBonusWorkload}}
    {{> cardsetInfoBoxItemPomodoroCount}}
    {{> cardsetInfoBoxItemPomodoroWorkTime}}
    {{> cardsetInfoBoxItemPomodoroBreakTime}}
    {{> cardsetInfoBoxItemBonusDeadline}}
    {{> cardsetInfoBoxItemBonusStart}}
    {{> cardsetInfoBoxItemBonusEnd}}
    {{> cardsetInfoBoxItemBonusActiveLearners}}
    {{> cardsetInfoBoxItemBonusRegistrationPeriod}}
    {{> cardsetInfoBoxItemBonusButton}}
</template>
