<template name="mainNavigationFooter">
    {{#unless fullscreenActive}}
        {{#unless canAccessFrontend}}
                {{#if displayWelcomeNavigation}}
                    {{> mainNavigationFooterItemInfo}}
                {{/if}}
        {{/unless}}
        {{#if isImpressum}}
            <nav id="navbar-cards-footer" class="navbar navbar-default navbar-fixed-bottom navbar-cards {{#if canAccessFrontend}}hidden-xs{{/if}}">
                <div class="container footer-container">
                    <div class="visible-xs navbar-header">
                        <div class="navbar-header-item pull-left">
                            {{{getNavigationName}}}
                        </div>
                        <div class="navbar-header-item pull-right">
                            <button type="button"
                                    class="navbar-toggle pull-right toggle-navbar-collapse needsclick flex-content">
                                {{{getNavigationIcon "collapse"}}}
                            </button>
                        </div>
                        <div class="navbar-header-item pull-right">
                            {{> mainNavigationFooterItemStatisticsMobile}}
                        </div>
                    </div>
                    {{> mainNavigationFooterDropdownContent}}
                </div>
            </nav>
        {{/if}}
    {{/unless}}
</template>

<template name="mainNavigationFooterDropdownContent">
    <div class="collapse navbar-collapse" id="navbar-cards-footer-collapse">
        <ul class="nav navbar-nav">
            {{> mainNavigationFooterItemBackToHome}}
            {{> mainNavigationFooterItemDemo}}
            {{> mainNavigationFooterItemAbout}}
            {{> mainNavigationFooterItemLearning}}
            {{> mainNavigationFooterItemFAQ}}
            {{> mainNavigationFooterItemHelp}}
            {{> mainNavigationFooterItemImpressum}}
            {{> mainNavigationFooterItemAGB}}
            {{> mainNavigationFooterItemDatenschutz}}
            {{> mainNavigationFooterItemStatistics}}
        </ul>
    </div>
</template>